@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?q28tfu') format('truetype'),
    url('fonts/icomoon.woff?q28tfu') format('woff'),
    url('fonts/icomoon.svg?q28tfu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ico-"], [class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-barbershop:before {
  content: "\e900";
}
.ico-booking:before {
  content: "\e901";
}
.ico-bucket:before {
  content: "\e902";
}
.ico-gym:before {
  content: "\e903";
}
.ico-info:before {
  content: "\e904";
}
.ico-location:before {
  content: "\e905";
}
.ico-person:before {
  content: "\e906";
}
.ico-search:before {
  content: "\e907";
}
.ico-surgery:before {
  content: "\e908";
}
.ico-thunder:before {
  content: "\e909";
}
